body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("./images/tilebg.png") repeat fixed;
    background-position: 0px -1320px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #8661C1;
}
a:hover {
    color: #a786dd;
}

.content {
    width: 960px;
    height: inherit;
    margin: 0px auto;
    background: #fff;
    text-align: center;
    border-style: solid;
    border-color: #fff;
    border-width: 40px 0px 0px 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
}
.banner-divider {
    position: relative;
    background: #8661C1;
    height: 20px;
}

.head-container {
    position: relative;
    padding: 20px 0px 10px 20px;
    background: #fff;
    text-align: left;
}
.head-container p {
    line-height: 1.4;
    display: block;
}

.description-container {
    position: relative;
    padding: 20px 0px 200px 20px;
    min-height: 800px;
    background: #fff;
    text-align: left;
}
.description-container p {
    line-height: 1.4;
    display: block;
}
.description-container-left {
    display: inline-block;
    vertical-align: top;
    width: 552px;
    margin-right: 20px;
}
.description-container-right {
    float: right;
    width: 347px;
    overflow: hidden;
}
.description-container-right .images {
    
}
code {
    background-color: #dbd9d9;
    border: 1px solid #bbb0c2;
    border-radius: 2px;
    padding: 1px 4px;
}
.sticker {
    display: inline-block;
    position: relative;
}
@media only screen and (max-width: 1760px) {
    .sticker-container {
        display: none;
    }
}
.sticker-container {
    position: absolute;
    bottom: 60px;
    margin: 0px 60px;
}
.sticker-container.left {
    left: 0px;
}
.sticker-container.right {
    right: 0px;
}
.footer {
    background: #222;
    height: 40px;
}
.footer-content {
    line-height: 40px;
    width: 960px;
    height: inherit;
    margin: auto;
    color: #fff;
}
.footer-content p {
    display: inline-block;
    vertical-align: top;
    float: right;
    height: 40px;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    font-weight: 300;
    letter-spacing: 2px;
}
.footer-content a {
    color: #91DDF2;
}
.footer-content a:hover {
    color: #85A1F2;
}
.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    filter: alpha(Opacity=80);
    opacity: .8;
    display: none;
}
.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    font-weight: 400;
}
.lb-outerContainer {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff;
}
.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.lb-dataContainer::after {
    display: table;
} 
.lb-data {
    padding: 0 4px;
    color: #ccc;
}
.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}
.lb-data .lb-caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 1em;
}
.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999;
}
.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: 0;
    filter: alpha(Opacity=70);
    opacity: .7;
    transition: opacity .2s;
}